@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/table/lib/css/table.css";

#error-message, #other-results {
    padding: 10px;
    overflow: scroll;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#query-box {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 100%;
    min-height: 200px;
}